html, body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #ECECEC;
  height: 100%;
}

.topnav {
  align-items: center;
  background-color: #444;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  padding: 10px;
  height: 50px;
  justify-content: space-between;
}

.topnavleft {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.textinput {
  border-radius: 25px;
  height: 25px;
  margin-left: 100px;
}

.profilebutton {
  height: 40px;
  width: 40px;
  background-color: #f6c7ff;
}

.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100%;
}

.eventsarea {
  justify-content: center;
  display: flex;
  padding: 15px;
}

.sidearea {
  background-color: #A9A7FD24;
  display: flex;
  justify-content: center;
  padding: 15px;
}

.createbutton {
  border-radius: 20px;
  border: 1px solid #000000;
  background-color: #000000;
  padding: 12px 15px;
  color:#FFFFFF;
  font-size: 14px;
  letter-spacing: 1px;
  transition: transform 80ms ease-in;
}
