html, body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #ECECEC;
  height: 100%;
}

.topnav {
  align-items: center;
  background-color: #A9A7FD;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  padding: 10px;
  height: 50px;
  justify-content: space-between;
}

.topnavleft {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-family: 'Sriracha';
  color: rgba(234, 233, 255);
  font-size: 20px;
  letter-spacing: .1em;
  text-shadow:
    -1px -1px 1px #9b9b9b,
    2px 2px 1px #8b8b8b;
}

img {
  width: 80px;
  height: auto;

}

input[type="text"] {
  border-radius: 20px;
  border: 1px solid #FFFFFF;
  height: 25px;
  margin-left: 130px;
  padding: 5px 20px;
  width: 80%;
}

.input-icon {
  position: relative;
}
.input-icon i {
  position:absolute;
  right: 0;
  top: 8px;
}


.profilebutton {
  border: none;
  cursor:  pointer;
  background-color: inherit;

}

.profilebutton img {
  height: auto;
  width: 60px;
}

.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100%;
}

.eventsarea {
  justify-content: center;
  display: flex;
  padding: 15px;
}

.eventname{
  font-family: 'Inter', sans-serif;
}
.eventname input{
  border: 10px solid #FFFFFF;
  border-radius: 10px;
  width: 90%;
  color: #8B8989;
  font-family: 'Inter', sans-serif;
  margin-bottom: 9%;
  margin-top: 3%;
}

.eventdescription {
  font-family: 'Inter', sans-serif;
}

.eventdescription input {
  border: 10px solid #FFFFFF;
  border-radius: 10px;
  margin-bottom: 9%;
  margin-top: 3%;
  width: 90%;
  color: #8B8989;
  font-family: 'Inter', sans-serif;
  padding-bottom: 50px;
}


.turnout {
  font-family: 'Inter', sans-serif;
}

.turnout input {
  border: 10px solid #FFFFFF;
  border-radius: 10px;
  margin: 8px 0;
  width: 90%;
  color: #8B8989;
  font-family: 'Inter', sans-serif;
}

.eventlocation {
  font-family: 'Inter', sans-serif;
}

.eventlocation input {
  border: 10px solid #FFFFFF;
  border-radius: 10px;
  margin-bottom: 9%;
  margin-top: 3%;
  width: 90%;
  color: #8B8989;
  font-family: 'Inter', sans-serif;
}

.category {
  font-family: 'Inter', sans-serif;
}

.select-category {
  position: relative;
  margin-bottom: 9%;
  margin-top: 3%;
}


.time {
  font-family: 'Inherit', sans-serif;
}

.time input {
  border: 10px solid #FFFFFF;
  border-radius: 10px;
  margin-bottom: 9%;
  margin-top: 3%;
  width: 90%;
  color: #8B8989;
  font-family: 'Inter', sans-serif;
}


.sidearea {
  background-color: #A9A7FD24;
  display: flex;
  justify-content: center;
  padding: 15px;
}

.createbutton {
  border-radius: 20px;
  border: 1px solid #000000;
  background-color: #000000;
  padding: 12px 15px;
  color:#FFFFFF;
  font-size: 14px;
  letter-spacing: 1px;
  width: 100%;
  transition: transform 80ms ease-in;
}
