{% extends "base_main.html" %}

{% block event %}
<div style="flex-direction: row;">
  <button class="newbutton" type="button">Uudet</button>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
  <button class="trendingbutton" type="button">Trendaavat</button>
</div>
{% for event in events %}
<button class="event" onClick="sendUrl(event.id)">
    <h4>
      {{ event.name }}
    </h4>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet">
    <h4>
      0/{{ event.max_participants }}
    </h4>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet">
</button>

{% endfor %}
<script>
  function sendUrl(eventid){
    console.log(eventid)
    window.location.assign("/event/"+"1");
  }
</script>
{% endblock %}

{% block side %}
<a href="{{ url_for('main.home') }}">
  <i class="fa fa-arrow-left backarrow" style="color: #8B8989;"></i>
</a>
<div class="event-title"
  <h4>{{event.name}}</h4>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">
  <i class="fa-solid fa-user-group"></i>
  <h4>0/{{event.max_participants}}</h4>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">
</div>
<p>{{event.date}}</p>
<p>{{event.location}}</p>
<i class=" fa-solid fa-location-dot"></i>
<div class="event-descb"
  <p>{{event.description}}</p>
</div>
<button class="joinbutton" type="button">Liity</button>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">
{% endblock %}
