{% extends "base_main.html" %}

{% block event %}
<div style="flex-direction: row;">
  <button class="newbutton" type="button">Uudet</button>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
  <button class="trendingbutton" type="button">Trendaavat</button>
</div>
{% for createdevent in events %}
<button type="button" class="event" onclick="(function() {window.location.assign('/event/'+'{{createdevent.id}}'); return false;})();return false;">
  <h4>
    {{ createdevent.name }}
  </h4>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">
  <div class="flex-row">
    <i class="fa-solid fa-user-group" style="color: #6E72B4; margin-right: 10px;"></i>
    <h4>
      0/{{ createdevent.max_participants }}
    </h4>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">
  </div>
</button>
{% endfor %}

{% endblock %}

{% block side %}
  <a href="{{ url_for('main.create_event') }}">
    <button class="createbutton" type="button"><i class="fa-solid fa-plus"></i> Luo tapahtuma</button>
  </a>
{% endblock %}
