{% extends "base_auth.html" %}

{% block content %}
  <div>
    <form method="POST" action="/login">
      <div>
        <div>
          <input type="email" name="email" placeholder="Sähköposti" autofocus="">
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input type="password" name="password" placeholder="Salasana">
        </div>
      </div>
      <button class="loginbutton">Kirjaudu</button>
      <div class="forgot-link">
      <a href="{{ url_for('authentication.signup') }}">
        Unohditko salasanan
      </a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
