{% extends "base_auth.html" %}

{% block content %}
<div>
  <div>
    <form method="POST" action="/signup">
      <div>
        <div>
          <input type="email" name="email" placeholder="Sähköposti" autofocus="">
        </div>
      </div>
      <div>
        <div>
          <input type="password" name="password" placeholder="Salasana">
        </div>
      </div>
      <div>
        <div>
          <input type="password-again" name="password-again" placeholder="Salasana uudelleen">
        </div>
      </div>
      <button class="signup-button">Luo tili</button>
    </form>
  </div>
</div>
{% endblock %}