{% extends "base_auth.html" %}

{% block content %}
<div>
  <h3>Sign Up</h3>
  <div>
    <form method="POST" action="/signup">
      <div>
        <div>
          <input type="email" name="email" placeholder="Email" autofocus="">
        </div>
      </div>
      <div>
        <div>
          <input type="password" name="password" placeholder="Password">
        </div>
      </div>
      <a href="{{ url_for('authentication.login') }}">
        Login
      </a>
      <button>Sign Up</button>
    </form>
  </div>
</div>
{% endblock %}